[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
flask = "*"
pandas = "*"
jupyter = "*"
fsspec = "*"
s3fs = "*"
pyarrow = "*"
mlflow = "*"
prefect = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
tokenizers = "*"
tqdm = "*"
loguru = "*"
boto3 = "*"
prettytable = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
